:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

canvas {
  border: 2px solid #000;
  cursor: crosshair;
  margin-bottom: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #007BFF;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.tool-button.selectedTool{
  background-color: #007BFF;
  color: white;
}
button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.tool-button {
  font-weight: bold;
  background-color: #007BFF;
  border: 2px solid #007BFF;
}

.tool-button.selectedTool {
  background-color: #FFD700;
  color: #333;
  border-color: #FFD700;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#clear, #undo, #redo, #export {
  background-color: #28a745;
  border: 2px solid #28a745;
}

#clear:hover, #undo:hover, #redo:hover, #export:hover {
  background-color: #218838;
  border-color: #218838;
}

#button-container button {
  font-size: 20px;
  padding: 8px 15px;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  background-color: #f8f9fa;
  color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#button-container button:hover {
  background-color: #e2e6ea;
  border-color: #d1d3d4;
}

#button-container button:last-child {
  font-size: 16px;
  background-color: #ffc107;
  color: #333;
  border: 2px solid #ffc107;
  padding: 8px 12px;
  border-radius: 5px;
}

#button-container button:last-child:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
